<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text shadow-lg rounded">
      <h1 class="text-white">Welcome to Herald</h1><br>
      <p>Herald is a tool used for report problems in a fast way!</p>
      <hr class="my-4">
      <p>Start with Herald and report and error</p>
      <%= link_to 'Track Billers!', new_biller_path, class: "btn btn-outline-primary btn-lg" %>
    </div>
  </div>
</div>